
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    /* padding: 10px; */
    flex: 1 100%;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em; 
  }


#sticky-bar {
    position: fixed;
    right: 0px;
    top:10%;
    width: 250px;
    height: 50px;
    text-align: center;

    background: sandybrown;
}

/* content box css */
#container{
    

}
/* FIXME: 이 container의 flex만 inline으로!!*/
#content {
    /* display: flex;
    flex-direction: row;
    display:inline-flex; */
    border: 1px solid black;
    width: 80%;
    height: 300px;
    overflow: auto;
    
    /* align-items: flex-end; */

    /* justify-content: center; */
}
#content-title {
    font-size: 1.2em;
    font-weight: 400;

}
#content-about {
    word-wrap: break-word;
    font-weight: 100;

}

.content-box {
    
    width: 45%;

    background-color:whitesmoke;

    /* border-style: solid;
    border-width: 0.3px; */

    margin-left:5px;
    

    text-align: center;

    /* inline으로 연속된 박스 모델의 width크기의 합(margin포함)이 전체 화면보다 더 클 경우
     inline이 적용되지 않는다! */

}

/* navigation css */

.navigation {
  list-style: none;
  margin: 0; 
  
  background: deepskyblue;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background:whitesmoke;
  color: rgb(255, 72, 0);
  
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}


/* font size 미리 지정 */
.f1 {
    font-size: 2em;
}
.f2 {
    font-size: 1.5em;
}
.f3 {
    font-size: 1.2em;
}